html{
    overflow-x: hidden;
}

body{
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-color: #000000;
    position: relative;
    min-height: 100vh; 
    padding-bottom: 80vh;
}

a{
    text-decoration: none;
    color: white;
}  
/*header*/
.divheader{
    display: grid;
    grid-template-columns: repeat(2,auto);
    width: 100%;
    height: fit-content;
    background-color: #ff9922;
    justify-content: space-between;
    padding: 0.5%;
}
.logo{
    display:flex;
    align-items: center;
}
.logo-nombre{
    font-family: 'open sans';
}
.logo-img{
    height: 6vh;
    margin-right: 1vw;
}

nav{
    display: flex;
    flex-direction: column;
}

nav a{
    font-family: 'open sans';
    padding-right: 1vw; 
}

nav a:hover{
    color:#9158b5;
}


/*main*/
.pagina_inicial{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.3vw;
}

.logo_grande{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vh;
    z-index: -20;
    height: fit-content
}


.img_logo_grande{
    position: relative;
    height: 20vh;
    z-index: -20;
    width: auto;
}

.fantasmas{
    width: 100vw;
    height: 0;
    margin-top: 0 ;
    z-index: 20;
}
.img_fantasma{
    position: relative;
    height: 100px;
    z-index: 0;
    top: -40px;
    animation: fantasma 7s infinite;
    animation-timing-function: linear;
}

.img_fantasma2{
    position: relative;
    height: 100px;
    z-index: 0;
    top: -260px;
    animation: fantasma2 10s infinite;
    animation-timing-function: linear;
}
.img_bat{
    position: relative;
    height: 100px;
    z-index: 0;
    top: -260px;
    animation: bat 10s infinite;
    animation-timing-function: linear;
}

@keyframes fantasma {
    from {
        transform: translate(100vw, 80vh);
      }
      to {
        transform: translate(-20vw,-30vh);
      }
}
@keyframes fantasma2 {
    from {
        transform: translate(-20vw, 90vh);
      }
      to {
        transform: translate(120vw, -50vh);
      }
}

@keyframes bat{
    from {
        transform: translate(-20vw, 0vh);
      }
      to {
        transform: translate(120vw, 0vh);
      }
}
.botones{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}

.boton_neon{
    position: relative;
    display: inline-block;
    padding: 3vh 30px;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 6vh;
    text-decoration: none;
    overflow: hidden;
    transition: 2s;
    font-family: 'creepster';
    margin-top: 1vh;
}

 .boton_neon:hover{
    background: #754495;
    box-shadow: 0 0 10px #754495, 0 0 40px #754495, 0 0 80px #754495;
    transition: 1s
}

.boton_neon span{
    position: absolute;
    display: block;
}

#span1{
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#754495);
}

.boton_neon:hover #span1{
    left: 100%;
    transition: 1s;
}

#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}
 .boton_neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
 }

 #span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}

.boton_neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.boton_neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/* página producto */

.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center ;
    margin-top: 40px;
    justify-content: center;
}

.menu_productos{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1,auto);
    justify-content: space-around;
    row-gap:2vh;
    margin-bottom: 60px;
    margin-top: 4vh;
}

.titulo_menu{
    font-size: 10vh;
    color: #ff7700;
    font-family: 'creepster','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.celda_producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
    z-index: -20;
}

.celda_producto p{
    font-size: 3vh;
    margin-top: 40px;
    color: #f40e0e;
    text-align: center;
    font-family: 'nosifer';

}

.imgham{
    height: 150px;
}
.producto_neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 2s;
    column-gap: 10px;
}
.producto_neon:hover{
    background: #754495;
    box-shadow: 0 0 10px #754495, 0 0 40px #754495, 0 0 80px #754495;
    transition: 1s
}

.producto_neon span{
    position: absolute;
    display: block;
}

#span5{
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#754495);
}

.producto_neon:hover #span5{
    left: 100%;
    transition: 1s;
}

#span7{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}
 .producto_neon:hover #span7{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
 }

 #span6{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}

.producto_neon:hover #span6{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span8{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.producto_neon:hover #span8{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

@media only screen and (min-width:550px){
    .menu_productos{
        grid-template-columns: repeat(2,auto);
    }
}
@media only screen and (min-width:850px){
    .menu_productos{
        grid-template-columns: repeat(3,auto);
    }
    .titulo_menu{
        font-size: 10vh;
    }
}
colores{
    background-color:#242224 ;
    background-color:#9158b5 ;
    background-color:#754495 ;
    background-color:#ffa944 ;
    background-color:#ff9922 ;
}

/*formulario*/
h3{
    color: #ff9922;
    text-align: center;
    font-size: 7vh;
    font-family: 'creepster';
}
.form{
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 50vh
}
.formulario {
	display: flex;
	flex-direction: column;
    width: 50vw;

}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 20px;
	cursor: pointer;
    color: white;
    width: 50vw;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
    margin-top: 1vh;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btnform{
    border: none;
    margin-top: 4vh;
    color: #ffffff;
    background-color: transparent;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/*  Validacion */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

@media only screen and (max-width: 800px) {
	.formulario{
        margin-right: 11vw;
    }   
    .formulario__grupo-btn-enviar{
        margin-right: -9vw;
    }
}
/*footer*/
footer{
    width: 100vw;
    background-color:#ff9922;
    position: absolute;
    bottom:0;
    height: min-content;
}
.divfooter{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    height: min-content;
    row-gap: 3vh;
}

.insta{
    height: 6vh;
    margin: 3%;
}

.redesocial{
    display: flex;
    width: 100%;
    flex-direction: row;
    column-gap: 20px;
    margin-top: 2vh;
    justify-content: space-around;
}

.iframe{
    width: 50vw; 
    height: 30vh; 
    border: none;
    margin-right: 3vw;
    margin-top: 2vh; 
}

.iframediv{
    margin: 1%;
}


@media only screen and (min-width:750px){
    nav{
        flex-direction: row;
        margin-top: vh;
        align-self: center;
    }
    .botones{
        flex-direction: row;
        justify-content: space-around;
        margin-top: 8vh;
        height: 10vh;
        margin-left:-1vh ;
    }
    .logo_grande{
        display: flex;
        justify-content: center;
    }
    .img_logo_grande{
        height: 40vh;
    }

    .logo-img{
        height: 5vh;
    }
    .divfooter{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
   }
}
@media only screen and (min-width:800px){
    .botones{
        margin-top: 3vh;
    }
    .img_logo_grande{
        height: 50vh;
    }

}
@media only screen and (min-width:900px){
    .botones{
        margin-top: 2vh;
        height: 10vh;
    }
    .pagina_inicial{
        height: 90vh;
    }
    .img_logo_grande{
        height: 50vh;
    }

    .logo-img{
        height: 5vh;
    }
}
@media only screen and (min-width:1000px){
    .botones{
        height: 10vh;
        margin-top: 6vh;
        margin-left: -5vh;
    }
    .img_logo_grande{
        height: 50vh;
    }

    .logo-img{
        height: 8vh;
    }
}
